<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="pruebademo"
             connectionString="Server=localhost;Uid=sa;Pwd=sasa;MultipleActiveResultSets=True;TimeOut=120;Database=pruebademo;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Configuraciones adicionales si necesitas -->
		<add key="NombreAplicacion" value="Sistema de Ventas" />
		<add key="Version" value="1.0" />
	</appSettings>
</configuration>