<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="pruebademo"
             connectionString="Data Source=tu_servidor;Initial Catalog=pruebademo;Integrated Security=true"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>